.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 45px;
  width: 500px;
  height: auto;
  background: #F4F4F4;

  .title {
    font-weight: 600;
    font-size: 45px;
    display: flex;
    justify-content: center;
    margin: 15px auto;
    color: orange;
  }
}

