.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  background: #F4F4F4;
  min-height: 100vh;
}

